@import "tailwindcss" source(none);

@source "../../**/*.html";

@theme {
  --color-base: #24273a;
  --color-mantle: #1e2030;
  --color-crust: #181926;
  --color-surface: #5b6078;
  --color-text: #cad3f5;
  --color-primary: #8aadf4;
  --color-red: #ed8796;
  --color-yellow: #eed49f;
  --color-green: #a6da95;
  --color-blue: #8aadf4;
}

@layer base {
  body {
    @apply bg-base text-text;
  }

  h1 {
    @apply text-4xl font-bold my-4;
  }

  h2 {
    @apply text-3xl font-bold my-4;
  }

  h3 {
    @apply text-2xl font-bold my-4;
  }

  h4 {
    @apply text-xl font-bold my-4;
  }

  h5 {
    @apply text-lg font-bold my-4;
  }

  h6 {
    @apply text-lg my-4;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-primary cursor-pointer;
  }

  ul {
    @apply mb-4 list-disc list-inside
  }

  table {
    @apply mb-4 table-auto w-full;
  }

  th {
    @apply border p-2;
  }

  td {
    @apply border p-2;
  }

  code {
    @apply bg-crust px-[4px] text-xs font-mono;
  }
}

.cheat-sheet p {
  margin: 0;
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}

.cheat-sheet ul {
  margin: 0;
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}

.cheat-sheet table {
  margin: 0;
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}
