{{ define "content" }}
<div
  class="absolute inset-0 bg-cover bg-center bg-no-repeat w-full h-full"
  style="background-image: url(./assets/img/bg.webp)"
>
  <div
    class="absolute inset-0 w-full h-full"
    style="
      background: linear-gradient(rgba(36, 39, 58, 0.9), rgba(36, 39, 58, 0.9));
    "
  ></div>
</div>

<div class="relative h-screen flex items-center justify-center flex-col">
  <div class="text-4xl font-bold">Oops! Page Not Found.</div>
  <div class="text-9xl font-bold">404</div>
</div>
{{ end }}
