{{ define "content" }}
<div class="max-w-3xl mx-auto px-10 py-[64px]">
  <h1>Hi, I'm Rico Berger!</h1>
  <p>
    I'm a passionate Site Reliability Engineer / Platform Enginner with a deep
    commitment to ensuring the reliability, scalability, and performance of
    systems and services. With a strong background in both development and
    operations, I thrive on collaborating with cross-functional teams to design
    and maintain infrastructure that supports rapid deployment and continuous
    integration.
  </p>
  <p class="flex flex-row flex-wrap gap-2">
    <a href="https://github.com/ricoberger" target="_blank"
      ><img
        alt="Github"
        src="https://img.shields.io/badge/GitHub-181717.svg?&style=for-the-badge&logo=GitHub&logoColor=white"
    /></a>
    <a href="https://www.linkedin.com/in/ricoberger/" target="_blank"
      ><img
        alt="LinkedIn"
        src="https://img.shields.io/badge/LinkedIn-%230077B5.svg?&style=for-the-badge&logo=LinkedIn&logoColor=white"
    /></a>
    <a href="https://www.xing.com/profile/Rico_Berger5" target="_blank"
      ><img
        alt="Xing"
        src="https://img.shields.io/badge/Xing-006567.svg?&style=for-the-badge&logo=Xing&logoColor=white"
    /></a>
    <a href="https://hachyderm.io/@ricoberger" target="_blank"
      ><img
        alt="Mastodon"
        src="https://img.shields.io/badge/Mastodon-6364FF.svg?&style=for-the-badge&logo=Mastodon&logoColor=white"
    /></a>
    <a href="https://bsky.app/profile/ricoberger.bsky.social" target="_blank"
      ><img
        alt="Bluesky"
        src="https://img.shields.io/badge/Bluesky-0285FF.svg?&style=for-the-badge&logo=Bluesky&logoColor=white"
    /></a>
    <a href="https://twitter.com/rico_berger" target="_blank"
      ><img
        alt="X"
        src="https://img.shields.io/badge/X-000000.svg?&style=for-the-badge&logo=X&logoColor=white"
    /></a>
    <a href="https://medium.com/@ricoberger" target="_blank"
      ><img
        alt="Medium"
        src="https://img.shields.io/badge/Medium-000000.svg?&style=for-the-badge&logo=Medium&logoColor=white"
    /></a>
  </p>

  <h3>Projects</h3>
  <div class="overflow-x-auto">
    <table class="mt-0 mb-0">
      <thead>
        <tr>
          <th>Projects</th>
          <th>Stars</th>
          <th>Forks</th>
          <th>Issues</th>
          <th>Pull Requests</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a
              href="https://github.com/kubenav/kubenav"
              class="hover:text-primary"
              >kubenav</a
            >
          </td>
          <td>
            <img
              alt="Stars"
              src="https://img.shields.io/github/stars/kubenav/kubenav?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Forks"
              src="https://img.shields.io/github/forks/kubenav/kubenav?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Issues"
              src="https://img.shields.io/github/issues/kubenav/kubenav?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Pull Requests"
              src="https://img.shields.io/github/issues-pr/kubenav/kubenav?style=flat-square&labelColor=343b41"
            />
          </td>
        </tr>
        <tr>
          <td>
            <a
              href="https://github.com/feeddeck/feeddeck"
              class="hover:text-primary"
              >FeedDeck</a
            >
          </td>
          <td>
            <img
              alt="Stars"
              src="https://img.shields.io/github/stars/feeddeck/feeddeck?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Forks"
              src="https://img.shields.io/github/forks/feeddeck/feeddeck?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Issues"
              src="https://img.shields.io/github/issues/feeddeck/feeddeck?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Pull Requests"
              src="https://img.shields.io/github/issues-pr/feeddeck/feeddeck?style=flat-square&labelColor=343b41"
            />
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/kobsio/kobs" class="hover:text-primary"
              >kobs</a
            >
          </td>
          <td>
            <img
              alt="Stars"
              src="https://img.shields.io/github/stars/kobsio/kobs?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Forks"
              src="https://img.shields.io/github/forks/kobsio/kobs?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Issues"
              src="https://img.shields.io/github/issues/kobsio/kobs?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Pull Requests"
              src="https://img.shields.io/github/issues-pr/kobsio/kobs?style=flat-square&labelColor=343b41"
            />
          </td>
        </tr>
        <tr>
          <td>
            <a
              href="https://github.com/ricoberger/vault-secrets-operator"
              class="hover:text-primary"
              >Vault Secrets Operator</a
            >
          </td>
          <td>
            <img
              alt="Stars"
              src="https://img.shields.io/github/stars/ricoberger/vault-secrets-operator?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Forks"
              src="https://img.shields.io/github/forks/ricoberger/vault-secrets-operator?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Issues"
              src="https://img.shields.io/github/issues/ricoberger/vault-secrets-operator?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Pull Requests"
              src="https://img.shields.io/github/issues-pr/ricoberger/vault-secrets-operator?style=flat-square&labelColor=343b41"
            />
          </td>
        </tr>
        <tr>
          <td>
            <a
              href="https://github.com/ricoberger/script_exporter"
              class="hover:text-primary"
              >script_exporter</a
            >
          </td>
          <td>
            <img
              alt="Stars"
              src="https://img.shields.io/github/stars/ricoberger/script_exporter?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Forks"
              src="https://img.shields.io/github/forks/ricoberger/script_exporter?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Issues"
              src="https://img.shields.io/github/issues/ricoberger/script_exporter?style=flat-square&labelColor=343b41"
            />
          </td>
          <td>
            <img
              alt="Pull Requests"
              src="https://img.shields.io/github/issues-pr/ricoberger/script_exporter?style=flat-square&labelColor=343b41"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Languages and Tools</h3>
  <p class="flex flex-row flex-wrap gap-2">
    <img
      alt="Go"
      src="https://img.shields.io/badge/-Go-00ADD8?style=flat-square&logo=Go&logoColor=white"
    />
    <img
      alt="JavaScript"
      src="https://img.shields.io/badge/-JavaScript-F7DF1E?style=flat-square&logo=JavaScript&logoColor=white"
    />
    <img
      alt="TypeScript"
      src="https://img.shields.io/badge/-TypeScript-3178C6?style=flat-square&logo=TypeScript&logoColor=white"
    />
    <img
      alt="Dart"
      src="https://img.shields.io/badge/-Dart-0175C2?style=flat-square&logo=Dart&logoColor=white"
    />
    <img
      alt="Rust"
      src="https://img.shields.io/badge/-Rust-000000?style=flat-square&logo=Rust&logoColor=white"
    />
    <img
      alt="Python"
      src="https://img.shields.io/badge/-Python-3776AB?style=flat-square&logo=Python&logoColor=white"
    />
    <img
      alt="Kotlin"
      src="https://img.shields.io/badge/-Kotlin-7F52FF?style=flat-square&logo=Kotlin&logoColor=white"
    />
    <img
      alt="Bash"
      src="https://img.shields.io/badge/-Bash-4EAA25?style=flat-square&logo=GNUBash&logoColor=white"
    />
    <img
      alt="Kubernetes"
      src="https://img.shields.io/badge/-Kubernetes-326CE5?style=flat-square&logo=Kubernetes&logoColor=white"
    />
    <img
      alt="Docker"
      src="https://img.shields.io/badge/-Docker-2496ED?style=flat-square&logo=Docker&logoColor=white"
    />
    <img
      alt="Istio"
      src="https://img.shields.io/badge/-Istio-466BB0?style=flat-square&logo=Istio&logoColor=white"
    />
    <img
      alt="Flux"
      src="https://img.shields.io/badge/-Flux-5468FF?style=flat-square&logo=Flux&logoColor=white"
    />
    <img
      alt="Prometheus"
      src="https://img.shields.io/badge/-Prometheus-E6522C?style=flat-square&logo=Prometheus&logoColor=white"
    />
    <img
      alt="Grafana"
      src="https://img.shields.io/badge/-Grafana-F46800?style=flat-square&logo=Grafana&logoColor=white"
    />
    <img
      alt="Thanos"
      src="https://img.shields.io/badge/-Thanos-6D41FF?style=flat-square&logo=Thanos&logoColor=white"
    />
    <img
      alt="VictoriaMetrics"
      src="https://img.shields.io/badge/-VictoriaMetrics-621773?style=flat-square&logo=VictoriaMetrics&logoColor=white"
    />
    <img
      alt="Elasticsearch"
      src="https://img.shields.io/badge/-Elasticsearch-005571?style=flat-square&logo=Elasticsearch&logoColor=white"
    />
    <img
      alt="Kibana"
      src="https://img.shields.io/badge/-Kibana-005571?style=flat-square&logo=Kibana&logoColor=white"
    />
    <img
      alt="FluentBit"
      src="https://img.shields.io/badge/-FluentBit-49BDA5?style=flat-square&logo=FluentBit&logoColor=white"
    />
    <img
      alt="Jaeger"
      src="https://img.shields.io/badge/-Jaeger-66CFE3?style=flat-square&logo=Jaeger&logoColor=white"
    />
    <img
      alt="Harbor"
      src="https://img.shields.io/badge/-Harbor-60B932?style=flat-square&logo=Harbor&logoColor=white"
    />
    <img
      alt="Vault"
      src="https://img.shields.io/badge/-Vault-FFEC6E?style=flat-square&logo=Vault&logoColor=white"
    />
    <img
      alt="Backstage"
      src="https://img.shields.io/badge/-Backstage-9BF0E1?style=flat-square&logo=Backstage&logoColor=white"
    />
    <img
      alt="MongoDB"
      src="https://img.shields.io/badge/-MongoDB-47A248?style=flat-square&logo=MongoDB&logoColor=white"
    />
    <img
      alt="PostgreSQL"
      src="https://img.shields.io/badge/-PostgreSQL-4169E1?style=flat-square&logo=PostgreSQL&logoColor=white"
    />
    <img
      alt="ClickHouse"
      src="https://img.shields.io/badge/-ClickHouse-FFCC01?style=flat-square&logo=ClickHouse&logoColor=white"
    />
    <img
      alt="Redis"
      src="https://img.shields.io/badge/-Redis-FF4438?style=flat-square&logo=Redis&logoColor=white"
    />
    <img
      alt="Kafka"
      src="https://img.shields.io/badge/-Kafka-231F20?style=flat-square&logo=ApacheKafka&logoColor=white"
    />
    <img
      alt="NATS"
      src="https://img.shields.io/badge/-NATS-27AAE1?style=flat-square&logo=NATS.io&logoColor=white"
    />
    <img
      alt="Cloudflare"
      src="https://img.shields.io/badge/-Cloudflare-F38020?style=flat-square&logo=Cloudflare&logoColor=white"
    />
    <img
      alt="Azure"
      src="https://img.shields.io/badge/-Azure-069AF3?style=flat-square&logo=Azure&logoColor=white"
    />
    <img
      alt="Amazon Web Services"
      src="https://img.shields.io/badge/-Amazon_Web_Services-232F3E?style=flat-square&logo=AmazonWebServices&logoColor=white"
    />
    <img
      alt="Google Cloud Platform"
      src="https://img.shields.io/badge/-Google_Cloud_Platform-1a73e8?style=flat-square&logo=GoogleCloud&logoColor=white"
    />
    <img
      alt="DigitalOcean"
      src="https://img.shields.io/badge/-DigitalOcean-0080FF?style=flat-square&logo=DigitalOcean&logoColor=white"
    />
    <img
      alt="Terraform"
      src="https://img.shields.io/badge/-Terraform-844FBA?style=flat-square&logo=Terraform&logoColor=white"
    />
    <img
      alt="OpenTofu"
      src="https://img.shields.io/badge/-OpenTofu-FFDA18?style=flat-square&logo=OpenTofu&logoColor=white"
    />
    <img
      alt="OpenTelemetry"
      src="https://img.shields.io/badge/-OpenTelemetry-000000?style=flat-square&logo=OpenTelemetry&logoColor=white"
    />
    <img
      alt="GitHub Actions"
      src="https://img.shields.io/badge/-GitHub_Actions-2088FF?style=flat-square&logo=GitHubActions&logoColor=white"
    />
    <img
      alt="Git"
      src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=Git&logoColor=white"
    />
    <img
      alt="Ansible"
      src="https://img.shields.io/badge/-Ansible-EE0000?style=flat-square&logo=Ansible&logoColor=white"
    />
    <img
      alt="Salt"
      src="https://img.shields.io/badge/-Salt-57BCAD?style=flat-square&logo=SaltProject&logoColor=white"
    />
    <img
      alt="Flutter"
      src="https://img.shields.io/badge/-Flutter-02569B?style=flat-square&logo=Flutter&logoColor=white"
    />
    <img
      alt="Node.js"
      src="https://img.shields.io/badge/-Node.js-5FA04E?style=flat-square&logo=Node.js&logoColor=white"
    />
    <img
      alt="React"
      src="https://img.shields.io/badge/-React-61DAFB?style=flat-square&logo=React&logoColor=white"
    />
    <img
      alt="Alpine.js"
      src="https://img.shields.io/badge/-Alpine.js-8BC0D0?style=flat-square&logo=Alpine.js&logoColor=white"
    />
    <img
      alt="HTML5"
      src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=HTML5&logoColor=white"
    />
    <img
      alt="htmx"
      src="https://img.shields.io/badge/-htmx-3366CC?style=flat-square&logo=htmx&logoColor=white"
    />
    <img
      alt="GraphQL"
      src="https://img.shields.io/badge/-GraphQL-E10098?style=flat-square&logo=GraphQL&logoColor=white"
    />
    <img
      alt="CSS"
      src="https://img.shields.io/badge/-CSS-663399?style=flat-square&logo=CSS&logoColor=white"
    />
    <img
      alt="Vite"
      src="https://img.shields.io/badge/-Vite-646CFF?style=flat-square&logo=Vite&logoColor=white"
    />
    <img
      alt="Raycast"
      src="https://img.shields.io/badge/-Raycast-FF6363?style=flat-square&logo=Raycast&logoColor=white"
    />
  </p>
</div>
{{ end }}
